body, html {
  text-align: center;
  font-family: Gotham, Helvetica, Arial, sans-serif;
  font-size: 1em;
}

section {
  width: 50%;
  margin: auto;
}

h1 {
  color: #7b7d70;
  font-size: 2em;
}

h2 {
  color: 	#4eafb8;
  font-size: 1.5em;
}

p{
  color: #ff8641;
}


/*-----TABLET STYLES----*/
@media screen (min-width 765px) {
  
}



/*-------DESKTOP STYLES-----*/
@media screen (min-width 1200pxpx)